{% load i18n navigation %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top shadow pt-0 pb-0">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'apptrunk:index' %}">AppTrunk</a>
        <button class="navbar-toggler mr-1" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="{% trans 'Переключение навигации' %}">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav px-3 w-100">

            </ul>
            <ul class="navbar-nav px-3">
                <li class="nav-item text-nowrap">
                {% if user.is_authenticated %}
                    <a href="{% url 'admin:logout' %}" class="nav-link">{% trans 'Выйти' %}</a>
                {% else %}
                    <a href="{% url 'admin:login' %}?next={{ request.get_full_path }}" class="nav-link">{% trans 'Войти' %}</a>
                {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>
