{% extends 'apptrunk/base.html' %}{% load i18n %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'apptrunk:index' %}">AppTrunk</a></li>
        <li class="breadcrumb-item active" aria-current="page">{% trans 'Главная' %}</li>
    </ol>
</nav>

<h1 class="mb-2">{% trans 'Последние версии приложений.' %}</h1>

{% regroup versions by project_name as project_list %}

{% for project in project_list %}
<h2 class="mt-3">{{ project.grouper }}</h2>
<div class="row">
    {% regroup project.list by branch_name as branch_list %}
    {% for branch in branch_list %}
    <div class="col-md-6 col-lg-4">
        <h3>
            <a href="{% url 'apptrunk:versions' project_name=project.grouper branch_name=branch.grouper %}">
                {{ branch.grouper }}
            </a>
        </h3>
        <table class="table">
            <tbody>
                {% for version in branch.list %}
                <tr>
                    <td>
                        <code>{{ version }}</code>
                        <br>
                        <span class="text-muted"> {{ version.updated }}</span>
                    </td>
                    <td>
                        {% if version.is_release %}
                        <span class="badge bg-success">relese</span>
                        {% else %}
                        <span class="badge bg-warning">pre-relese</span>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endfor %}
</div>
{% endfor %}

{% endblock %}
