{% extends 'apptrunk/base.html' %}{% load i18n %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'apptrunk:index' %}">AppTrunk</a></li>
        <li class="breadcrumb-item active" aria-current="page">{% trans 'Версии ветки проекта' %}</li>
    </ol>
</nav>

<h1 class="mb-2">{% blocktrans %}{{ project_name }}: ветка <code>{{ branch_name }}</code>.{% endblocktrans %}</h1>

<table class="table">
    <tbody>
        {% for version in versions %}
        <tr>
            <td>
                <code>{{ version }}</code>
                <br>
                <span class="text-muted"> {{ version.updated }}</span>
            </td>
            <td>
                {% if version.is_release %}
                <span class="badge bg-success">relese</span>
                {% else %}
                <span class="badge bg-warning">pre-relese</span>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}
